.author {
  display: flex;
  margin-bottom: 2rem;
}
.author > .author__description {
  padding-left: 16px;
}
.author__profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.author__name {
  margin: 0;
}
.author__bio {
  margin: 8px 0;
}
